<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            {{ card_header }} <!-- Usando variável card_header -->
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ card_title }}</h5> <!-- Usando variável card_title -->
            <p class="card-text">{{ card_text }}</p> <!-- Usando variável card_text -->
            <a href="{{ button_link }}" class="btn btn-primary">{{ button_text }}</a> <!-- Variáveis para o botão -->
        </div>
    </div>
</div>
